<h1>hello from first lab  :) :)</h1>
@{
	int x = 30;
	int y = 20;
	if (x>y){
		<h3>x=  @x and is greter than @y</h3>
	}else{
		<h3>y = @y and is greater than @x</h3>

	}
	<h1>Now we will use for loop to print </h1>
	<ul>
		@for(int i = 0;i<11;i++){

			<li>@i</li>
		}

	</ul>
}
