@model Student
<table class=" table table-hover table-bordered">

	<tr>
		<th>
			ID
		</th>
		<th>
			NAME
		</th>
		<th>
			Image
		</th>
	</tr>

	
		<tr>

			<td>@Model.Id</td>
		<td>@Model.Name</td>
		<td>@Model.ImageUrl</td>
			@* <td><img src="~/lib/" /></td> *@
		</tr>

	
</table>